

@viewport {
    orientation: landscape;
}

 
 /*Hintergrund*/
.content{
        background: linear-gradient(
        rgba(231, 168, 17, 0.6), 
        rgba(231, 168, 17, 1)
      ),
      url(../img/bg.jpg);
 

background-size:cover;
height:100%;
min-height:100%;
}

.bar.bar-nav{
    background: black;
}

.title{
    text-align: center;
    color: white;
}


